$valid-record-text-color: #000;
$invalid-record-text-color: grey;

$assets-path: "/assets/assets/";
$logo-path: $assets-path + "logo.jpg";
$logo-width: 45px;
$logo-height: 60px;

$nav-font-size: 20px;
$nav-logo-margin: 20px;
