@import "../../styles/variables";
@import "../../styles/mixins";

.nav {
  height: $logo-height;
  margin-left: $logo-width * 1.2;
  a {
    color: #000;
    display: inline-block;
    font-size: $nav-font-size;
    text-decoration: none;
    text-transform: uppercase;
    padding: $nav-logo-margin-left;
    cursor: pointer;
  }
}

.logo {
  background-image: url($logo-path);
  @include bg-image();
  position: absolute;
  text-indent: -9999px;
  width: $logo-width;
  height: $logo-height;
  top: 0;
  left: 20px;
  margin: $nav-logo-margin-left;
}

.item {
  display: inline-block;
}