@import "../../styles/variables";

$new-input-width: $record-width * 0.7;
$edit-input-width: $record-width;
$input-border-width: 1px;

.form {
  font-size: inherit;
}

.inputBox {
  font-size: inherit;
  border: 0;
  border-bottom: $input-border-width solid $light-grey;
  &:focus {
    outline: none;
  }
}

.new {
  margin-left: $record-margin-horizontal;
  height: $font-size * 1.5;
  width: $new-input-width;
  padding: $record-padding-vertical 0;
}

.edit {
  height: $font-size + $input-border-width;
  margin: $record-margin-vertical 0 $record-margin-vertical $record-margin-horizontal * 3;
  padding: $record-padding-vertical 0 $record-padding-vertical + $input-border-width 0;
  width: $edit-input-width;
}
