@import "../../styles/variables";

$new-input-width: $record-width * 1.4;
$edit-input-width: $record-width;

.form {
  font-size: inherit;
}

.inputBox {
  font-size: inherit;
  border: 0;
  border-bottom: 1px solid $light-grey;
  &:focus {
    outline: none;
  }
}

.new {
  margin-left: $record-margin-horizontal;
  height: $font-size * 1.5;
  width: $new-input-width;
  padding: $record-padding-vertical 0;
}

.edit {
  height: $font-size;
  margin: $record-margin-vertical 0 $record-margin-vertical $record-margin-horizontal * 3;
  padding: $record-padding-vertical 0;
  width: $edit-input-width;
}
