@import "../../styles/variables";

$input-width: $record-width * 1.4;

.form {
  font-size: inherit;
}

.inputBox {
  font-size: inherit;
  border: 0;
  border-bottom: 1px solid $light-grey;
  width: $input-width;
  margin-left: $record-margin;
  height: $font-size * 1.5;
  &:focus {
    outline: none;
  }
}
