@import "../../styles/variables";

$check-width: $record-margin-horizontal;
$edit-width: $record-margin-horizontal / 2;

.record {
  display: inline-block;
  width: $record-width;
  overflow-wrap: break-word;
  vertical-align: middle;
  margin: $record-margin-vertical 0;
}

.uncompleted {
  color: $valid-record-text-color;
}

.completed {
  color: $invalid-record-text-color;
  text-decoration: line-through;
}

.list {
  font-size: $font-size;
  padding: $record-padding-vertical 0;
}

.checkIcon {
  width: $check-width;
  margin: 0 $check-width;
}

.editIcon {
  margin: 0 $edit-width;
  cursor: pointer;
}
