@import "../../styles/variables";

$check-width: 20px;
$edit-width: 10px;

.record {
  display: inline-block;
  width: 20%;
  overflow-wrap: break-word;
  vertical-align: middle;
}

.uncompleted {
  color: $valid-record-text-color;
}

.completed {
  color: $invalid-record-text-color;
  text-decoration: line-through;
}

.list {
  font-size: $font-size;
}

.checkIcon {
  width: $check-width;
  margin: 0 $check-width;
}

.editIcon {
  margin: 0 $edit-width;
  cursor: pointer;
}
